.complainDialogBackground {
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.complainDialog {
  background-color: white;
  width: 30%;
  margin: auto;
  padding: 10px;
  padding-right: 30px;
  position: relative;
}

.closeComplainDialog {
  background: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
